// Place all the styles related to the dojos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
thead{
    background : grey;
    text-align: left;
}
th{
    padding-right: 50px
}
td{
    padding-right: 50px;
}
#new {
    width: 350px;
}

.labels{
    vertical-align: top;
    display: inline-block;
    width: 100px;
}

.inputs{
    display: inline-block;
    width: 150px;
}

