<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <p><lable>Name: </lable>
    <input type="text" name="name"></p>

    <p><lable>Age: </lable>
    <input type="text" name="age"></p>
    
    <p> <input type="submit" value="Add User"> </p>    
    
    </form>
</body>
</html>