<h1>New Dojo</h1>
<% for message in flash[:message] %>
    <p> <%= message %> </p>
<% end %>
<div id="new">
    <form action="/dojos" method="post">
        

        <div class="labels">
            <p><label>Branch: </label></p>
            <p><label>Street: </label></p>
            <p><label>City: </label></p>
            <p><label>State: </label></p>

        </div>

        <div class="inputs">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p><input type="text" name="dojo[branch]"></p>
            <p><input type="text" name="dojo[street]"></p>
            <p><input type="text" name="dojo[city]"></p>
            <p><input type="text" name="dojo[state]"></p>
            <p><input type="submit"></p>

        </div>
    </form>
</div>
<br>
<br>

<p> <a href='/dojos'> Go back </a></p>



